* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* header */

.header {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    padding: 55px 15px;
    list-style-type: none;
    margin-right: 30px;
    transition: 0.3s;
}

.header__item:hover a {
    color: #f55f8d;
}

.header__item a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #070120;
    font-weight: 500;
}

.header__item a span {
    display: inline-block;
    transition: all 1s;
}

.header__item:hover span {
    animation: animateUP 0.5s;
}

.header__item i {
    font-size: 14px;
}

@keyframes animateUP {
    40% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    60% {
        opacity: 1;
    }
}

.header__btn button {
    padding: 20px 35px;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 30px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s;
    background-size: 200%;
}

.header__btn:hover button {
    background-position: right center;
}


/* END */


/* start carousel */

.carousel {
    padding-top: 180px;
    background-image: url(./Samar/bg4.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.carousel__container {
    display: flex;
    align-items: center;
}

.carousel__title {
    width: 60%;
}

.carousel__title h2 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.carousel__title h1 {
    font-size: 70px;
    color: #262626;
    line-height: 1.1;
    margin-bottom: 20px;
}

.carousel__title p {
    font-size: 18px;
    color: #636363;
    margin-bottom: 15px;
    line-height: 2;
}

.carousel__title .carousel__item {
    list-style-type: none;
    font-size: 20px;
    padding: 10px 5px 10px 0;
    color: #636363;
    line-height: 1.1;
}

.carousel__title .carousel__list {
    margin-bottom: 20px;
}

.carousel__title .carousel__item i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    /* text-align: center;
    line-height: 35px; */
    color: #fff;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
}

.carousel__btn {
    padding: 20px 35px;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 30px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s;
    background-size: 200%;
}

.carousel__btn:hover {
    background-position: right center;
}

.carousel__img {
    width: 40%;
}

.carousel__avatar {
    width: 570px;
    margin-left: 50px;
}

.carousel__img img {
    width: 100%;
    display: block;
}


/* end */


/* start services */

.services {
    background-image: url(./Samar/bg16.png);
    /* background-size: cover; */
    background-position: top center;
    background-size: 100%;
    padding-top: 115px;
}

.services__title {
    text-align: center;
}

.services__title h3 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.services__title h2 {
    font-size: 70px;
    color: #262626;
    margin-bottom: 20px;
}

.services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* display: flex;
    justify-content: space-between; */
}

.services__item {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 60px rgba(0, 0, 0, .1);
    transform: translateY(0);
    transition: all 0.5s;
    padding: 30px 45px;
}

.services__item:hover {
    transform: translateY(-20px);
}

.services__img img {
    width: 100%;
    display: block;
}

.services__content h3 {
    font-weight: 700;
    font-size: 24px;
    color: #262626;
    margin: 15px 0;
    text-align: center;
}

.services__content p {
    font-size: 16px;
    opacity: 0.7;
    line-height: 1.5;
    text-align: center;
}


/* end */


/* start about */

.about {
    background-image: url(./Samar/bg15.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-top: 115px;
    padding-bottom: 85px;
    overflow: hidden;
}

.about__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
}

.about__img {
    width: 60%;
    position: absolute;
    left: -17%;
}

.about__img img {
    width: 100%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.about__content {
    width: 50%;
}

.about__content h3 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.about__content h2 {
    font-size: 70px;
    line-height: 1.1;
    color: #262626;
    margin-bottom: 20px;
}

.about__content p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.about__list {
    margin-bottom: 30px;
}

.about__item {
    list-style-type: none;
    padding: 10px 0;
    font-size: 16px;
    color: #636363;
}

.about__item i {
    height: 26px;
    width: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f55f8d;
    color: #f55f8d;
    margin-right: 10px;
}

.about__content button {
    padding: 20px 35px;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 30px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s;
    background-size: 200%;
}

.about__content button:hover {
    background-position: right center;
}


/* end */


/* start number */

.number {
    padding-top: 80px;
    padding-bottom: 50px;
    background-image: url(./Samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
}

.number__list {
    display: flex;
    align-items: center;
    text-align: center;
}

.number__item {
    width: 25%;
}

.number__item i {
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: #fff;
    border-radius: 50%;
    font-size: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.number__item h3 {
    color: #f55f8d;
    font-size: 65px;
    font-weight: 800;
}

.number__item p {
    font-size: 18px;
    color: #262626;
}


/* end */


/* features start */

.features {
    padding-top: 115px;
    overflow: hidden;
}

.features__container {
    display: flex;
    justify-content: space-between;
}

.features__content {
    width: 50%;
}

.features__title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.features__title h2 {
    font-size: 70px;
    color: #262626;
    margin-bottom: 20px;
    line-height: 1.1;
}

.features__list--container:nth-child(1) {
    margin-right: 50px;
    margin-bottom: 30px;
}

.features__list--container:nth-child(2) {
    margin-left: 50px;
    margin-bottom: 30px;
}

.features__list--container:nth-child(3) {
    margin-right: 50px;
    margin-bottom: 30px;
}

.features__item {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0px 60px rgba(0, 0, 0, 10%);
    border-radius: 10px;
    padding: 30px 30px 30px 25px;
}

.features__item:hover {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
}

.features__item:hover i {
    color: #fff;
}

.features__item:hover .item__text {
    color: #fff;
}

.item__icon i {
    transition: all 0.5s;
    font-size: 80px;
    color: #f55f8d;
}

.item__text {
    padding-left: 25px;
    transition: all 0.5s;
    color: #262626;
}

.item__text h3 {
    font-size: 24px;
}

.item__text p {
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.7;
}

.features__img {
    width: 50%;
    animation: move 3s infinite;
}

.features__img img {
    width: 100%;
}

@keyframes move {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }
    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }
    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}


/* end */


/* portfolio */

.portfolio {
    padding-top: 115px;
    background-image: url(./Samar/bg17.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.portfolio__title p {
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
    font-weight: 600;
}

.portfolio__title h2 {
    font-size: 70px;
    color: #262626;
    margin-bottom: 20px;
}

.portfolio__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}

.portfolio__item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    /* filter: brightness(90%) grayscale(90%); */
}

.portfolio__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient( to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio__item:hover::before {
    left: 125%;
}

.portfolio__item--1 {
    grid-column: 1 / 3;
}

.portfolio__item--5 {
    grid-column: 1 / span 2;
}

.portfolio__item--6 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
}

.portfolio__item img {
    width: 100%;
    display: block;
    height: 100%;
}

.portfolio__item:hover .item__overlay {
    opacity: 1;
}

.portfolio__item:hover .item__overlay-icon {
    top: 20px;
    right: 20px;
}

.portfolio__item:hover .item__overlay--text {
    transform: translateY(0);
}

.item__overlay {
    position: absolute;
    top: 0;
    /* width: 100%; */
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    opacity: 0;
    overflow: hidden;
}

.item__overlay-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 200%;
    transition: 0.5s;
}

.item__overlay-icon a {
    color: #fff;
}

.item__overlay-icon a i {
    cursor: pointer;
}

.item__overlay--text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
    transition: 0.5s;
    transform: translateY(200%)
}

.item__overlay--text h3 {
    font-size: 22px;
    font-weight: 800;
}


/* end */


/* choose start */

.choose {
    background-image: url(./Samar/bg16.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 115px;
}

.choose__title {
    text-align: center;
}

.choose__title p {
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
    font-weight: 600;
}

.choose__title h2 {
    font-size: 70px;
    color: #262626;
    font-weight: 800;
    margin-bottom: 20px;
}

.choose__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.choose__item {
    background-color: #fff;
    box-shadow: 1px 0 50px rgba(0, 0, 0, 10%);
    border-radius: 8px;
    text-align: center;
    padding: 35px 60px;
    border: 3px solid transparent;
}

.choose__item h3 {
    font-size: 32px;
    font-weight: 700;
    color: #262626;
}

.choose__item img {
    width: 125px;
}

.choose__item p {
    font-size: 18px;
    color: #262626;
    font-weight: 500;
}

.choose__item p span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 700;
}

.choose__item ul {
    border-top: 1px solid #e1e1f0;
    padding: 15px 0;
    list-style-type: none;
    text-align: left;
}

.choose__item li {
    padding: 5px 0;
    font-size: 18px;
    color: #262626;
}

.choose__item li i {
    height: 26px;
    width: 26px;
    color: #f55f8d;
    font-size: 12px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #feeff3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.choose__item button {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
}

.choose__item button:hover {
    background-position: right center;
}

.choose__item:hover {
    border-image: url(./Samar/br.png) 1 round;
}


/* end */


/* start testimonial */

.testimonial {
    padding-top: 115px;
    background-image: url(./Samar/bg17.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

.testimonial__title p {
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.testimonial__title h2 {
    font-size: 70px;
    margin-bottom: 20px;
    color: #262626;
    font-weight: 800;
    line-height: 1.1;
}

.testimonial-content {
    margin: auto;
    text-align: center;
    height: 470px;
    overflow: hidden;
}

.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
}

.testimonial-thumbs::before {
    content: "";
    width: 30px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial-thumbs::after {
    content: "";
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}

.testimonial-thumbs .testimonial-pic::before {
    width: 10px;
    height: 10px;
    bottom: 0px;
    position: absolute;
    left: 50%;
    content: "";
    background-color: #f55f8d;
    border-radius: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.testimonial-thumbs .testimonial-pic::after {
    width: 15px;
    height: 15px;
    bottom: 30px;
    position: absolute;
    left: 50%;
    content: "";
    background-color: #f55f8d;
    border-radius: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}

.testimonial-thumbs .testimonial-pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    transition: 1s;
    background-color: #f55f8d;
    display: none;
}

.testimonial-thumbs .testimonial-pic .shape-bx::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(./Samar/pattern12.png);
    background-position: bottom;
    content: "";
    background-size: contain;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: none;
}

.testimonial-thumbs .swiper-slide-thumb-active .shape-bx {
    display: block;
}

.testimonial-thumbs .swiper-slide-thumb-active .shape-bx::before {
    display: block;
}

.testimonial-comment {
    width: 100%;
    height: 300px;
    position: relative;
}

.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::after {
    opacity: 1;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}

.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin: 0 auto;
    position: relative;
}

.testimonial-text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

.testimonial-text .testimonial-name {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial-text .testimonial-position {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #f55f8d;
    margin-bottom: 20px;
}

.testimonial-text p {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    padding: 20px 15px 15px;
}

.swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
}

.swiper-pagination-bullet-active {
    background-color: #f55f8d;
}


/* end */


/* schedules start */

.schedules {
    padding: 115px 0 50px 0;
    background-image: url(./Samar/bg16.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.schedules__title {
    text-align: center;
}

.schedules__title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.schedules__title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.schedules__list {
    display: flex;
}

.schedules__item {
    margin-right: 30px;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(245, 95, 141, .1);
}

.schedules__img {
    display: block;
}

.schedules__img img {
    width: 100%;
    border-radius: 8px;
}

.schedules__body {
    position: relative;
    padding: 30px 15px 20px 15px;
}

.schedules__body h3 {
    font-size: 24px;
    font-weight: 700;
    color: #262626;
}

.schedules__time {
    position: absolute;
    content: "";
    top: -20px;
    left: 15px;
    padding: 10px 20px;
    border-radius: 6px;
    background-size: 200%;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
}

.schedules__time p {
    font-size: 14px;
    color: #fff !important;
}

.schedules__body p {
    color: #636363;
    line-height: 1.4;
}

.schedules__footer {
    padding: 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.schedules__author {
    font-size: 14px;
    color: #636363;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.schedules__author i {
    font-size: 22px;
    color: #f55f8d;
    margin-right: 6px;
}

.schedules__author .schedules__text {
    font-size: 14px;
    color: #f55f8d;
    margin-left: 6px;
}

.schedules__comment {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.schedules__comment i {
    font-size: 22px;
    color: #f55f8d;
    margin-right: 6px;
}


/* end */


/* footer */

.footer {
    background-image: url(./Samar/bg4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #0e1b1f;
    color: #fff;
    font-size: 15px;
    position: relative;
    height: auto;
}

.footer::before {
    content: "";
    display: block;
    background-image: url(./Samar/pattern2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer__top {
    display: flex;
    background-image: url(./Samar/pattern3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 10%);
    position: relative;
    padding: 50px 60px;
    border-radius: 10px;
    align-items: center;
    transition: 0.5s;
    animation: translate linear 1s;
}

@keyframes translate {
    from {
        opacity: 0;
        transform: translateY(100%)
    }
    to {
        opacity: 1;
        transform: translateY(0%)
    }
}

.footer__text {
    width: 50%;
    font-size: 28px;
    color: #262626;
}

.footer__form {
    width: 50%;
    display: flex;
}

.footer__form input {
    padding: 20px;
    font-size: 15px;
    color: #888;
    font-weight: 400;
    outline: none;
    border: 1px solid #fff;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    flex: 1;
    transition: 0.5s;
}

.footer__form input:focus,
.footer__form input:hover {
    border: 1px solid #f55f8d;
}

.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.footer__form button:hover {
    background-position: right center;
}

.footer__form button:hover i {
    animation: run forwards 1s;
    display: inline-block;
}

@keyframes run {
    49% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-100%);
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
}

.footer__body {
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer__item {
    width: 25%;
}

.footer__item a {
    display: block;
}

.footer__contact--item {
    list-style-type: none;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer__contact--item i {
    height: 40px;
    width: 40px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

.footer__item h3 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
}

.footer__item h3::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 15px;
    height: 4px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 20px;
    background-size: 200%;
}

.footer__item h3::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 20px;
    width: 45px;
    height: 4px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 20px;
    background-size: 200%;
}

.footer__list--item {
    list-style-type: none;
    padding: 8px 0;
}

.footer__list--item:hover .footer__list--link {
    color: #fff;
}

.footer__list--link {
    text-decoration: none;
    transition: 0.5s;
    color: #636363;
}

.footer__list--link i {
    margin-right: 10px;
}

.footer__copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer__copyright--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom--text {
    font-size: 15px;
}

.footer__bottom--text p span {
    color: #f55f8d;
}

.footer__bottom--social a {
    height: 32px;
    width: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 14px;
}

.footer__bottom--social a:hover {
    background-color: #f55f8d;
}


/* back to top */

.backToTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    visibility: hidden;
    opacity: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50px;
    height: 50px;
    background-color: #f55f8d;
    border-radius: 8px;
    transition: 0.5s;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}